<h1><em>Public Profile</em></h1>

<img src="http://www.independentmediators.co.uk/wp-content/uploads/2016/02/placeholder-image.jpg" class="imgPro" style="width:20%;">
{{!-- {{data.picture}} --}}

<h1>{{data.username}}</h1>
<hr>

<a href="filtered-page?q=sports">
  {{data.sports}}
</a>

<br>
<hr>
<a href="filtered-page?q=music">
  {{data.music}}
</a>
<br>
<hr>
<a href="filtered-page?q=learnGroup">
  {{data.learnGroup}}
</a>
<br>
<hr>
<a href="filtered-page?q=languages">
  {{data.languages}}
</a>
<br>
<hr>
<a href="filtered-page?q=culinary">
  {{data.culinary}}
</a>
<br>
<hr>
<a href="filtered-page?q=getInTouch">
  {{data.getTouch}}
</a>
<hr>
<a href="/firststep">BACK TO FIRST STEP</a>


<a href="/filtered-page" class="button">BACK TO FILTER</a>
